#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
    transform: rotate(360deg);
          }
}

.contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: white;
    border: 30px solid black;
    margin: 20px 0;
}

body {
    background-image: url("https://images.pexels.com/photos/7234231/pexels-photo-7234231.jpeg?cs=srgb&dl=pexels-pavel-danilyuk-7234231.jpg&fm=jpg");
    background-size: contain;
    margin: 0;
}

.editAdd {
    background-color: black;
    color: black;
    padding: 0;
    margin: 0 0 0 20em;
    display: flex;
    flex-direction: column;

}